{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Care:) | Save❤️</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mulish:400,500,600,700">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Dark-footer-with-social-media-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/gradient-navbar-styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/gradient-navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/Hero-Carousel-images.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar-contain.css' %}">
    <style>
        body{
            background: #DA4453;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right,aqua,#3a7bd5);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, aqua,#3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }
        html{
            scroll-behavior:smooth ;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md fixed-top" id="app-navbar">
        <div class="container-fluid"><a class="navbar-brand" href="#"><i class="icon ion-ios-infinite text-bold" id="brand-logo">Donate</i></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="#dot1">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#dot2">About us</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#dot3">Contact us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="carousel slide mt-5" data-ride="carousel" data-interval="false" id="dot1" style="height: 600px;">
        <div class="carousel-inner h-100">
            <div class="carousel-item active h-100"><img class="w-100 d-block position-absolute h-100 fit-cover" src="{% static 'o9.jpg' %}" alt="Slide Image" style="z-index: -1;">
                <div class="container d-flex flex-column justify-content-center h-100">
                    <div class="row">
                        <div class="col-md-6 col-xl-4 offset-md-2">
                            <div style="max-width: 350px;">
                                <h2 class="text-uppercase font-weight-bold">It's not how much we give But how much love we put into giving...!🖤</h2>
                                <h5 class="my-3">Lets Donate and support us..</h5><a class="btn btn-light btn-lg" role="button" href="https://rzp.io/l/1Vek9dww" target="_blank">DONATE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="py-4 py-xl-5" id="dot2">
            <div class="container h-100">
                <div class="row h-100 mt-5">
                    <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                        <div>
                            <h2 class="text-uppercase font-weight-bold mb-4 mt-0">About us</h2>
                            <p class="mb-4 font-weight-bold ">We are a family, where love guides us all as we grow and expand year after year. Not just a regular children’s home, we are a nearly self-sustaining organization; a working farm, a vibrant school, receiving no government assistance of any kind. Take a look around and if you have any questions just get in contact with us via the menu above!</p><a class="btn btn-light btn-lg m-3" role="button" href="https://rzp.io/l/1Vek9dww" target="_blank">Donate</a>
                        </div>
                    </div>
                </div>
            </div>
        </section><hr id="dot3">
        <section class="position-relative py-4 py-xl-5">
            <h2 class="text-uppercase font-weight-bold mb-4 mt-0 text-center">Contact us</h2>
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card">
                            <div class="card-body color-dark text-center p-sm-5">
                                <form action="/" method="POST">
                                    {% csrf_token %}
                                    <div class="mb-3"><input class="form-control" type="text" id="name" name="name" placeholder="Name" required autocomplete="off"></div>
                                    <div class="mb-3"><input class="form-control" type="email" id="email" name="email" placeholder="Email" required autocomplete="off"></div>
                                    <div class="mb-3"><textarea class="form-control" id="message" name="message" rows="6" placeholder="Message" required autocomplete="off"></textarea></div>
                                    <div><input class="btn btn-warning d-block w-100" type="submit" required></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <footer id="footerpad" class="p-3">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-8 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a></li>
                        <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li>
                        <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></span></a></li>
                        <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-pinterest fa-stack-1x fa-inverse"></i></span></a></li>
                    </ul><p class="copyright text-muted text-center">Made By🤍 <b>Vamsi kumar🎓</b> </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>